.index {
  padding-top: 70px;

  &_bg {
    width: 750px;
    height: 400px;
    background: url(https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=83173715,2819061132&fm=26&gp=0.jpg) no-repeat;
    background-size: 100% 100%;
    position: relative;
    color: #fff;
    margin-bottom: 80px;

    .at-avatar {
      position: absolute;
      right: 30px;
      bottom: -40px;
    }

    &_name {
      position: absolute;
      right: 180px;
      bottom: 10px;
    }
  }
  &_content {
    &_piece {
      display: flex;
      padding: 0 30px;
      font-size: 30px;

      &_l {
        margin-right: 20px;
      }

      &_name {
        font-weight: 700;
        color: #565e7d;
        margin-bottom: 10px;
      }

      &_detail {
        margin-bottom: 10px;
        text-align: justify;
      }

      &_time {
        margin-right: 10px;
        font-size: 22px;
        color: #b4b4b4;
      }

      &_del {
        font-size: 22px;
        color: #565e7d;
      }
    }
  }
}